{% extends 'base.html.twig' %}

{% block body %}
	<div class="inner-w3">
        <div class="sub-hd">
            <h3 class="tittle">Alertas de <span>Hoy</span></h3>
        </div>
    </div>
    {% if eventos is empty %}
        <label>No hay Eventos Asociadas al dia de hoy</label>
    {% else %}
        <table class="table table-striped">
        	<thead>
        		<tr>
        			<th>Resúmen</th>
    		     	<th>Descripción</th>
    		     	<th>Link Calendar</th>
    		  </tr>
    		</thead>
            <tbody>
            	{% for evento in eventos %}
    	            <tr>
    	                <td>{{evento.summary}}</td>
    	                <td>{{evento.summary}}</td>
    	                <td><a target="_blank" href="{{evento.htmlLink}}">Ver</a></td>
    	            </tr>
    	            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
