
{% block menu %}
   <!-- Collect the nav links, forms, and other content for toggling -->
   <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
    <div class="top-menu">
        <nav class="menu menu--francisco">
            <ul class="nav navbar-nav menu__list">
                <li class="menu__item menu__item--current"><a href="index.html" class="menu__link"><span class="menu__helper">Inicio</span></a></li>
                <li class="menu__item"><a href="{{ path('empresa_index') }}" class="menu__link"><span class="menu__helper">Empresas</span></a></li>
                <li class="menu__item"><a href="{{ path('persona_index') }}" class="menu__link"><span class="menu__helper">Personas</span></a></li>
                <li class="menu__item"><a href="{{ path('encuesta_index') }}" class="menu__link"><span class="menu__helper">Encuestas</span></a></li>
                <li class="menu__item"><a href="{{ path('pregunta_index') }}" class="menu__link"><span class="menu__helper">Preguntas</span></a></li>
                <li class="menu__item"><a href="{{ path('respuesta_index') }}" class="menu__link"><span class="menu__helper">Respuestas</span></a></li>
                <li class="menu__item"><a href="{{ path('contacto') }}" class="menu__link"><span class="menu__helper">Contacto</span></a></li>
            </ul>
        </nav>
    </div>
</div>
<!-- /.navbar-collapse -->
{% endblock %}