{% extends 'base.html.twig' %}

{% block body %}
    <div class="inner-w3">
        <div class="sub-hd">
            <h3 class="tittle"><span>Reportes</span></h3>
        </div>
    </div>
    <div class="clearfix"></div>
    {% if areas is empty %}
        <label>No existen areas</label>
    {% else %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre Area</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                    {% for area in areas %}
                        <tr>
                            <td>{{ area.areaNombre }}</td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('reporte_area', { 'idArea': area.areaId }) }}">Ver personas asociadas</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}  
                
            </tbody>
        </table>
    {% endif %}
{% endblock %}
