{% extends 'base.html.twig' %}

{% block body %}
    <div class="inner-w3">
        <div class="sub-hd">
            <h3 class="tittle">Reporte <span>Area</span></h3>
        </div>
    </div>

    <table  class="table table-striped">
        <thead>
            <tr>
                <th>Id:</th>
                <th>Nombres y Apellidos</th>
                <th>Cédula:</th>
                <th>Audiometrias:</th>
            </tr>
        </thead>   
        <tbody>
            {% for persona in personas %} 
                <tr>
                    <td>{{ persona.personaId }}</td>
                    <td>{{ persona.personaNombres }} {{ persona.personaApellidos }}</td>
                    <td>{{ persona.personaCedula }}</td>
                    <td>
                        {% if persona.audiometrias is empty %}
                            <label>No hay audiometrias asociadas</label>
                        {% else %}
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Id:</th>
                                        <th>Diagnosticos</th>
                                    </tr>
                                </thead>  
                                {% for audiometria in persona.audiometrias %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('audiometria_show', { 'id': audiometria.audiometriaId }) }}">{{ audiometria.audiometriaId }}</a>
                                        </td>
                                        <td> 
                                            <table border="6" >
                                                <thead>
                                                    <tr>
                                                        <th>Oido Izquierdo</th>
                                                        <th>Oido Derecho</th>
                                                    </tr>
                                                </thead>  
                                                <tr>
                                                        {% for medidasAerea in audiometria.medidasAerea %}
                                                                <td class="{{ medidasAerea.diagnostico|replace(' ', '-')|lower }}">{{ medidasAerea.diagnostico }}</td>
                                                        {% endfor %}
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="clearfix"></div>

    <ul>
        <li>
            <a href="{{ path('persona_index') }}">Regresar a la lista</a>
        </li>
    </ul>
{% endblock %}
