{% extends 'base.html.twig' %}

{% block body %}
    <div class="inner-w3">
        <div class="sub-hd">
            <h3 class="tittle">Lista de <span>Empresas</span></h3>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nit</th>
                <th>Nombre</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for empresa in empresas %}
            <tr>
                <td>{{ empresa.empresaId }}</td>
                <td><a href="{{ path('empresa_show', { 'id': empresa.empresaId }) }}">{{ empresa.empresaNit }}</a></td>
                <td>{{ empresa.empresaNombre }}</td>
                <td>{{ empresa.empresaEstado }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('empresa_show', { 'id': empresa.empresaId }) }}">Ver</a>
                        </li>
                        <li>
                            <a href="{{ path('empresa_edit', { 'id': empresa.empresaId }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('empresa_new') }}">Nueva Empresa</a>
        </li>
    </ul>
{% endblock %}
