{% extends 'base.html.twig' %}

{% block body %}
    <div class="inner-w3">
        <div class="sub-hd">
            <h3 class="tittle">Empresa <span>Detalle</span></h3>
        </div>
    </div>
    <table>
        <tbody>
            <tr>
                <th>Empresanit</th>
                <td>{{ empresa.empresaNit }}</td>
            </tr>
            <tr>
                <th>Empresanombre</th>
                <td>{{ empresa.empresaNombre }}</td>
            </tr>
            <tr>
                <th>Empresaestado</th>
                <td>{{ empresa.empresaEstado }}</td>
            </tr>
            <tr>
                <th>Empresaid</th>
                <td>{{ empresa.empresaId }}</td>
            </tr>
        </tbody>
    </table>

    <div>
        <table>
            <thead>
                <tr>Areas Asociadas</tr>
            </thead>
            {% for area in empresa.areas %}
            <tr>
                <td>{{ area.areaNombre }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <ul>
        <li>
            <a href="{{ path('empresa_index') }}">Regresar a la lista</a>
        </li>
        <li>
            <a href="{{ path('empresa_edit', { 'id': empresa.empresaId }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
