<!DOCTYPE HTML>
<html>
<head>
    <title>{% block title %}FonoApp!{% endblock %}</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Medicinal Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
    Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />

    {% block stylesheets %}{% endblock %}

        <link href="{{ asset('css/main.css')}}" rel='stylesheet' type='text/css' />  
        <link rel="icon" type="image/x-icon" href="{{ asset('images/icon.jpg') }}" />
        <script type="applisalonion/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <link href="{{ asset('css/bootstrap.css') }}" rel='stylesheet' type='text/css' />
        <!-- Custom Theme files -->
        <link href="{{ asset('css/style.css') }}" rel='stylesheet' type='text/css' />  
        <link rel="stylesheet" href="{{ asset('css/slider.css') }}">
        <script src="{{ asset('js/jquery-1.11.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/move-top.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/easing.js') }}"></script>
        <!--/web-font-->
        <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
        <!--/script-->
        <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){     
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},900);
            });
        });
        </script>

        <script type="text/javascript" src="{{ asset('js/funciones.js') }}"></script>
        <script src="{{ asset('assets/vendor/chart.js/dist/Chart.js') }}"></script>

        <!-- plugin de jquery growl para mensajes de  notificacion -->
        <script src="{{ asset('js/jquery.growl.js') }}" type="text/javascript"></script>
        <link href="{{ asset('CSS/jquery.growl.css') }}" rel="stylesheet" type="text/css" />

        <!--
        <script type="text/javascript">
          $.growl({ title: "Growl", message: "The kitten is awake!" });
          $.growl.error({ message: "The kitten is attacking!" });
          $.growl.notice({ message: "The kitten is cute!" });
          $.growl.warning({ message: "The kitten is ugly!" });
        </script>
        -->

    </head>
    <body>
        <!--Mensaje de correcto e incorrecto-->
        {% if app.session.flashBag.has('success') %}
            {% for msg in app.session.flashBag.get('success') %}
                <script type="text/javascript">
                    $(document).ready(function() {  
                        $.growl.notice({ message: "{{ msg }}" });
                    });
                </script>
            {% endfor %}
        {% endif %}
        {% if app.session.flashBag.has('alerta') %}
            {% for msg in app.session.flashBag.get('alerta') %}
                <script type="text/javascript">
                    $(document).ready(function() {  
                        $.growl.warning({ message: "{{ msg }}" });
                    });
                </script>
            {% endfor %}
        {% endif %}

        <!--start-home-->
        <div class="main-header" id="house">
            <div class="header-strip">
                <div class="container">
                    <p class="location"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <a href="mailto:info@example.com">fonoaudiologiapp@gmail.com</a></p>
                    <p class="phonenum"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> + 57 3135357329</p>
                    <div class="social-icons">
                        <ul>                    
                            <li><a href="#"><i class="facebook"> </i></a></li>
                            <li><a href="#"><i class="twitter"> </i></a></li>
                            <li><a href="#"><i class="google-plus"> </i></a></li>   
                            <li><a href="#"><i class="dribble"> </i></a></li>                                       
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="header-middle">
                <div class="user">
                        {% if is_granted('ROLE_ADMIN') %}
                            <label>ADMIN: {{ app.user.userName }}</label>
                            <a href="{{ path('logout')  }}">Cerrar Sesion</a>
                        {% elseif is_granted('ROLE_SUPER_ADMIN') %}
                            <label>SUPERADMIN: {{ app.user.userName }}</label>
                            <a href="{{ path('logout')  }}">Cerrar Sesion</a>
                        {% else %}
                            <a href="{{ path('login') }}">Iniciar Sesion</a>
                        {% endif %}
                </div>
            </div>
            <!--header-top-->
            <div class="header-top">
                <div class="container">
                    <nav class="navbar navbar-default">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="logo">
                                <h1><a class="navbar-brand" href="{{ path('homepage') }}"><span>F</span>onoApp  <img src="{{ asset('images/logo.png') }}" alt=" " /></a></h1>
                            </div>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                            <div class="top-menu">
                                <nav class="menu menu--francisco">
                                    <ul class="nav navbar-nav menu__list">
                                        <li class="menu__item menu__item--current"><a href="{{ path('homepage') }}" class="menu__link"><span class="menu__helper">Inicio</span></a></li>
                                        <li class="menu__item"><a href="{{ path('empresa_index') }}" class="menu__link"><span class="menu__helper">Empresas</span></a></li>
                                        <li class="menu__item"><a href="{{ path('area_index') }}" class="menu__link"><span class="menu__helper">Areas</span></a></li>
                                        <li class="menu__item"><a href="{{ path('persona_index') }}" class="menu__link"><span class="menu__helper">Empleados</span></a></li>
                                        <li class="menu__item"><a href="{{ path('encuesta_index') }}" class="menu__link"><span class="menu__helper">Encuestas</span></a></li>
                                        <li class="menu__item"><a href="{{ path('usuario_index') }}" class="menu__link"><span class="menu__helper">Administradores</span></a></li>
                                        <li class="menu__item"><a href="{{ path('pregunta_index') }}" class="menu__link"><span class="menu__helper">Preguntas</span></a></li>
                                        <li class="menu__item"><a href="{{ path('posiblesrespuestas_index') }}" class="menu__link"><span class="menu__helper">Posibles Respuestas</span></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        {% elseif is_granted('ROLE_ADMIN') %}
                        <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                            <div class="top-menu">
                                <nav class="menu menu--francisco">
                                    <ul class="nav navbar-nav menu__list">
                                        <li class="menu__item menu__item--current"><a href="{{ path('homepage') }}" class="menu__link"><span class="menu__helper">Inicio</span></a></li>
                                        <li class="menu__item"><a href="{{ path('persona_index') }}" class="menu__link"><span class="menu__helper">Empleados</span></a></li>
                                        <li class="menu__item"><a href="{{ path('reporte_index') }}" class="menu__link"><span class="menu__helper">Reportes</span></a></li>
                                        <li class="menu__item"><a href="{{ path('alerta_index') }}" class="menu__link"><span class="menu__helper">Eventos de Hoy</span></a></li>
                                        <li class="menu__item"><a href="{{ path('file_new') }}" class="menu__link"><span class="menu__helper">Cargar Empleados</span></a></li>
                                        <li class="menu__item"><a href="{{ path('contacto') }}" class="menu__link"><span class="menu__helper">Contacto</span></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        {% endif  %}
                        <!-- /.navbar-collapse -->
                    </nav>

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!--//header-top-->

        {% block body %}{% endblock %}

            <!--/start-footer-section-->
            <div class="footer-section">
                <div class="container">
                    <div class="footer-grids wow bounceIn animated" data-wow-delay="0.4s">
                        <div class="col-md-3 footer-grid">
                            <h4>Sobre <span>FonoApp</span></h4>
                            <div class="border2"></div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id arcu neque, at convallis est felis.</p>
                            <p class="sub">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id arcu neque, at convallis est felis.</p>
                        </div>
                        <div class="col-md-3 footer-grid tags">
                            <h4>The <span>Tags</span></h4>
                            <div class="border2"></div>
                            <ul class="tag">
                                <li><a href="#">fonoaudilogia</a></li>
                                <li><a href="#">Strategy</a></li>
                                <li><a href="#">Photography</a></li>
                                <li><a href="#">Development</a></li>
                                <li><a href="#">Css</a></li>
                                <li><a href="#">photoshop</a></li>
                                <li><a href="#">fonoaudilogia</a></li>
                                <li><a href="#">Awesome</a></li>
                                <li><a href="#">Strategy</a></li>
                                <li><a href="#">Photoshop</a></li>
                                <li><a href="#">fonoaudilogia</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 footer-grid tweet">
                            <h4>Latest <span>Tweets</span></h4>
                            <div class="border2"></div>
                            <div class="icon-3-square">
                                <a href="#"><i class="square-3"></i></a>
                            </div>
                            <div class="icon-text">
                                <p>I like this awesome freebie. Check it out By <a href="#"> Admin </a></p>
                                <h5>15 mins ago</h5>
                            </div>
                            <div class="clearfix"></div>
                            <div class="icon-3-square">
                                <a href="#"><i class="square-3"></i></a>
                            </div>
                            <div class="icon-text">
                                <p>I like this awesome freebie. Check it out  By <a href="#"> Admin </a> </p>
                                <h5>15 mins ago</h5>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-3 footer-grid flickr">
                            <h4>Flickr <span>Feed </span></h4>
                            <div class="border2"></div>
                            <div class="flickr-grids">
                                <div class="flickr-grid">
                                    <a href="#"><img src="{{ asset('images/t1.jpg') }}" alt=" " title="CEO" /></a>
                                </div>
                                <div class="flickr-grid">
                                    <a href="#"><img src="{{ asset('images/t2.jpg') }}" alt=" " title="GM" /></a>
                                </div>
                                <div class="flickr-grid">
                                    <a href="#"><img src="{{ asset('images/t3.jpg') }}" alt=" " title="CEO" /></a>
                                </div>
                                <div class="clearfix"> </div>

                                <div class="flickr-grid">
                                    <a href="#"><img src="{{ asset('images/t2.jpg') }}" alt=" " title="GM" /></a>
                                </div>
                                <div class="flickr-grid">
                                    <a href="#"><img src="{{ asset('images/t3.jpg') }}" alt=" " title="CEO" /></a>
                                </div>
                                <div class="flickr-grid">
                                    <a href="#"><img src="{{ asset('images/t1.jpg') }}" alt=" " title="GM" /></a>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!--//end-footer-section-->
            <!--//footer-->
            <div class="footer-bottom">
                <div class="container">
                    <p>© 2016 Medicinal. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
                </div>
            </div>

            {% block javascripts %}{% endblock %}
    </body>
</html>