{% extends 'base.html.twig' %}

{% block body %}

    <!--/contact-->     
        <div class="contact-top">
            <div class="container">
                  <div class="contact-text">
                    <div class="con-text">
                      <p><a href="mailto:contact@example.com"> contact@example.com</a></p>
                     <p> 14 35 367 65 78</p>
                     <h6> 007 3th Ave New York, NY 12317 Colombia</h6>
                  </div>
                 </div>
                <div class="contact-form">
                         <form method="post" action="#" class="left_form">
                            <div>
                                <span><label>Nombre</label></span>
                                <span><input name="userName" type="text" class="textbox"></span>
                            </div>
                            <div>
                                <span><label>E-Mail</label></span>
                                <span><input name="userEmail" type="text" class="textbox"></span>
                            </div>
                            <div>
                                <span><label>Telefono</label></span>
                                <span><input name="userPhone" type="text" class="textbox"></span>
                            </div>
                        </form>
                        <form class="right_form">
                                <div>                           
                                    <span><label>Tema</label></span>
                                    <span><textarea name="userMsg"> </textarea></span>
                                </div>
                               <div>
                                    <span><input type="submit" value="Enviar" class="myButton"></span>
                              </div>
                        </form>
                        <div class="clearfix"></div>
                  </div>
            </div>
        </div>
    <!--//contact-->

{% endblock %}
