{% extends 'base.html.twig' %}

{% block body %}
    <div class="inner-w3">
        <div class="sub-hd">
            <h3 class="tittle">Lista de <span>Preguntas</span></h3>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pregunta</th>
                <th>Estado</th>
                <th>Tipo Pregunta</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for preguntum in preguntas %}
            <tr>
                <td>{{ preguntum.preguntaId }}</td>
                <td><a href="{{ path('pregunta_show', { 'id': preguntum.preguntaId }) }}">{{ preguntum.preguntaDescripcion }}</a></td>
                <td>{{ preguntum.preguntaEstado }}</td>
                <td>{{ preguntum.TipoPregunta.tipoPreguntaDescripcion }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('pregunta_show', { 'id': preguntum.preguntaId }) }}">Ver</a>
                        </li>
                        <li>
                            <a href="{{ path('pregunta_edit', { 'id': preguntum.preguntaId }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pregunta_new') }}">Nueva Pregunta</a>
        </li>
    </ul>
{% endblock %}
