{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pregunta</h1>

    <table>
        <tbody>
            <tr>
                <th>Preguntadescripcion</th>
                <td>{{ preguntum.preguntaDescripcion }}</td>
            </tr>
            <tr>
                <th>Preguntaestado</th>
                <td>{{ preguntum.preguntaEstado }}</td>
            </tr>
            <tr>
                <th>Preguntaid</th>
                <td>{{ preguntum.preguntaId }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pregunta_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('pregunta_edit', { 'id': preguntum.preguntaId }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
