{% extends 'base.html.twig' %}

{% block body %}
    <div class="inner-w3">
        <div class="sub-hd">
            <h3 class="tittle">Lista de <span>Usuarios</span></h3>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre de Usuario</th>
                <th>Password</th>
                <th>Correo</th>
                <th>Activo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.usuarioId }}</td>
                <td><a href="{{ path('usuario_show', { 'id': usuario.usuarioId }) }}">{{ usuario.usuarioNombre }}</a></td>
                <td>{{ usuario.usuarioPassword }}</td>
                <td>{{ usuario.usuarioCorreo }}</td>
                <td>{% if usuario.usuarioEstaActivo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('usuario_show', { 'id': usuario.usuarioId }) }}">Ver</a>
                        </li>
                        <li>
                            <a href="{{ path('usuario_edit', { 'id': usuario.usuarioId }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('usuario_new') }}">Nueva persona</a>
        </li>
    </ul>
{% endblock %}
