{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <div class="inner-w3">
            <div class="sub-hd">
                <h3 class="tittle">Pregunta <span>Nueva</span></h3>
            </div>
        </div>
        <div class="contact-form">
            {{ form_start(form, {'attr': {'class': 'center_form'} }) }}
                {{ form_widget(form) }}
                <input type="submit" value="Crear" class="myButton"/>
            {{ form_end(form) }}
        </div>
            <ul>
                <li>
                    <a href="{{ path('usuario_index') }}">Regresar a la lista</a>
                </li>
            </ul>
        <div class="clearfix"> </div>
    </div>
{% endblock %}
