{% extends 'base.html.twig' %}

{% block body %}
    <h1>Usuario</h1>

    <table>
        <tbody>
            <tr>
                <th>Usuarionombre</th>
                <td>{{ usuario.usuarioNombre }}</td>
            </tr>
            <tr>
                <th>Usuariopassword</th>
                <td>{{ usuario.usuarioPassword }}</td>
            </tr>
            <tr>
                <th>Usuariocorreo</th>
                <td>{{ usuario.usuarioCorreo }}</td>
            </tr>
            <tr>
                <th>Usuarioestaactivo</th>
                <td>{% if usuario.usuarioEstaActivo %}Si{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Usuarioid</th>
                <td>{{ usuario.usuarioId }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('usuario_index') }}">Regresar a la lista</a>
        </li>
        <li>
            <a href="{{ path('usuario_edit', { 'id': usuario.usuarioId }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Eliminar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
