{% extends 'base.html.twig' %}

{% block body %}
    <div class="inner-w3">
        <div class="sub-hd">
            <h3 class="tittle">Lista de <span>Posibles Respuestas</span></h3>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Posiblerespuestadescripcion</th>
                <th>Posiblerespuestaestado</th>
                <th>Posiblerespuestaid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for posiblesRespuesta in posiblesRespuestas %}
            <tr>
                <td><a href="{{ path('posiblesrespuestas_show', { 'id': posiblesRespuesta.posibleRespuestaId }) }}">{{ posiblesRespuesta.posibleRespuestaDescripcion }}</a></td>
                <td>{{ posiblesRespuesta.posibleRespuestaEstado }}</td>
                <td>{{ posiblesRespuesta.posibleRespuestaId }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('posiblesrespuestas_show', { 'id': posiblesRespuesta.posibleRespuestaId }) }}">Ver</a>
                        </li>
                        <li>
                            <a href="{{ path('posiblesrespuestas_edit', { 'id': posiblesRespuesta.posibleRespuestaId }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('posiblesrespuestas_new') }}">Nueva Posible Respuesta</a>
        </li>
    </ul>
{% endblock %}
