{% extends 'base.html.twig' %}

{% block body %}
    <h1>PosiblesRespuestas</h1>

    <table>
        <tbody>
            <tr>
                <th>Posiblerespuestadescripcion</th>
                <td>{{ posiblesRespuesta.posibleRespuestaDescripcion }}</td>
            </tr>
            <tr>
                <th>Posiblerespuestaestado</th>
                <td>{{ posiblesRespuesta.posibleRespuestaEstado }}</td>
            </tr>
            <tr>
                <th>Posiblerespuestaid</th>
                <td>{{ posiblesRespuesta.posibleRespuestaId }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('posiblesrespuestas_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('posiblesrespuestas_edit', { 'id': posiblesRespuesta.posibleRespuestaId }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
