{% extends 'base.html.twig' %}

{% block body %}
    <h1>MedidasAerea list</h1>

    <table>
        <thead>
            <tr>
                <th>Medidasaereaoido</th>
                <th>Medidasaereaid</th>
                <th>Medidasaerea250</th>
                <th>Medidasaerea500</th>
                <th>Medidasaerea1000</th>
                <th>Medidasaerea2000</th>
                <th>Medidasaerea3000</th>
                <th>Medidasaerea4000</th>
                <th>Medidasaerea6000</th>
                <th>Medidasaerea8000</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for medidasAerea in medidasAereas %}
            <tr>
                <td><a href="{{ path('medidasaerea_show', { 'id': medidasAerea.medidasAereaId }) }}">{{ medidasAerea.medidasAereaOido }}</a></td>
                <td>{{ medidasAerea.medidasAereaId }}</td>
                <td>{{ medidasAerea.medidasAerea250 }}</td>
                <td>{{ medidasAerea.medidasAerea500 }}</td>
                <td>{{ medidasAerea.medidasAerea1000 }}</td>
                <td>{{ medidasAerea.medidasAerea2000 }}</td>
                <td>{{ medidasAerea.medidasAerea3000 }}</td>
                <td>{{ medidasAerea.medidasAerea4000 }}</td>
                <td>{{ medidasAerea.medidasAerea6000 }}</td>
                <td>{{ medidasAerea.medidasAerea8000 }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('medidasaerea_show', { 'id': medidasAerea.medidasAereaId }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('medidasaerea_edit', { 'id': medidasAerea.medidasAereaId }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('medidasaerea_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
