{% extends 'base.html.twig' %}

{% block body %}
    <h1>MedidasAerea</h1>

    <table>
        <tbody>
            <tr>
                <th>Medidasaereaoido</th>
                <td>{{ medidasAerea.medidasAereaOido }}</td>
            </tr>
            <tr>
                <th>Medidasaereaid</th>
                <td>{{ medidasAerea.medidasAereaId }}</td>
            </tr>
            <tr>
                <th>Medidasaerea250</th>
                <td>{{ medidasAerea.medidasAerea250 }}</td>
            </tr>
            <tr>
                <th>Medidasaerea500</th>
                <td>{{ medidasAerea.medidasAerea500 }}</td>
            </tr>
            <tr>
                <th>Medidasaerea1000</th>
                <td>{{ medidasAerea.medidasAerea1000 }}</td>
            </tr>
            <tr>
                <th>Medidasaerea2000</th>
                <td>{{ medidasAerea.medidasAerea2000 }}</td>
            </tr>
            <tr>
                <th>Medidasaerea3000</th>
                <td>{{ medidasAerea.medidasAerea3000 }}</td>
            </tr>
            <tr>
                <th>Medidasaerea4000</th>
                <td>{{ medidasAerea.medidasAerea4000 }}</td>
            </tr>
            <tr>
                <th>Medidasaerea6000</th>
                <td>{{ medidasAerea.medidasAerea6000 }}</td>
            </tr>
            <tr>
                <th>Medidasaerea8000</th>
                <td>{{ medidasAerea.medidasAerea8000 }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('medidasaerea_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('medidasaerea_edit', { 'id': medidasAerea.medidasAereaId }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
