{% extends 'base.html.twig' %}

{% block body %}
    <h1>File list</h1>

    <table>
        <thead>
            <tr>
                <th>Excelfileid</th>
                <th>Excelfile</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for file in files %}
            <tr>
                <td><a href="{{ path('file_show', { 'id': file.excelFileId }) }}">{{ file.excelFileId }}</a></td>
                <td>{{ file.excelFile }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('file_show', { 'id': file.excelFileId }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('file_edit', { 'id': file.excelFileId }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('file_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
