{% extends 'base.html.twig' %}

{% block body %}
    <h1>Archivo Cargado</h1>

    <table>
        <tbody>
            <tr>
                <th>Id: </th>
                <td>{{ file.excelFileId }}</td>
            </tr>
            <tr>
                <th>Nombre Archivo: </th>
                <td>{{ file.excelFile }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <form method="POST" action="{{ path('load_personas') }}">
            <input type="hidden" value="{{ file.excelFile  }}" id="fileName" name="fileName">
            <input type="submit" value="Cargar Personas desde archivo">
        </form>
        <li>
            <a href="{{ path('file_index') }}">Regresar a la lista</a>
        </li>
        <li>
            <a href="{{ path('file_edit', { 'id': file.excelFileId }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Eliminar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
