{% extends 'base.html.twig' %}

{% block body %}
    <div class="inner-w3">
        <div class="sub-hd">
            <h3 class="tittle">Lista de <span>Areas</span></h3>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for area in areas %}
            <tr>
                <td><a href="{{ path('area_show', { 'id': area.areaId }) }}">{{ area.areaNombre }}</a></td>
                <td>{{ area.areaEstado }}</td>
                <td>{{ area.areaId }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('area_show', { 'id': area.areaId }) }}">Ver</a>
                        </li>
                        <li>
                            <a href="{{ path('area_edit', { 'id': area.areaId }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('area_new') }}">Nueva Area</a>
        </li>
    </ul>
{% endblock %}
