{% extends 'base.html.twig' %}

{% block body %}
    <div class="inner-w3">
        <div class="sub-hd">
            <h3 class="tittle">Area<span>Nueva</span></h3>
        </div>
    </div>

    {{ form_start(form, {'attr': {'class': 'center_form'} }) }}
        {{ form_widget(form) }}
        <input type="submit" value="Crear" class="myButton"/>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('area_index') }}">Regresar a la lista</a>
        </li>
    </ul>
{% endblock %}
