{% extends 'base.html.twig' %}

{% block body %}
    <div class="inner-w3">
        <div class="sub-hd">
            <h3 class="tittle">Area <span>Detalle</span></h3>
        </div>
    </div>
    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ area.areaId }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ area.areaNombre }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ area.areaEstado }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('area_index') }}">Regresar a la lista</a>
        </li>
        <li>
            <a href="{{ path('area_edit', { 'id': area.areaId }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Eliminar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
