
.user{
    text-align: right;
}

.footer-section{
	margin-top: 10px;
}

#medidas_oi{
	float: left;
	width: 48%;
	color: #2ad2c9;
}

#medidas_oi .tittle{
	text-align: center;
}

#medidas_od .tittle{
	text-align: center;
}

#medidas_od{
	float: right;
	width: 48%;
	color: #e45753;
}

fieldset span {
    font-weight: 700;
}

/*clases para los diagnosticos*/
.audicion-en-rango-normal{
	font-size: 150%;
	color: white;
	width: auto;
	height: 50px;
	background-color: green;
	text-align: center;
}

.preventivo---hipoacusia-leve{
	font-size: 150%;
	color: white;
	width: auto;
	height: 50px;
	background-color: purple;
	text-align: center;
}

.alerta-hipoacusia-moderada{
	font-size: 150%;
	color: white;
	width: auto;
	height: 50px;
	background-color: pink;
	text-align: center;
}

.alto-riesgo-hipoacusia-severa{
	font-size: 150%;
	color: white;
	width: auto;
	height: 50px;
	background-color: #FFA500;
	text-align: center;
}

.perdida-hipoacusia-profunda{
	font-size: 150%;
	color: white;
	width: auto;
	height: 50px;
	background-color: yellow;
	text-align: center;
}

.graficas{
	margin:0 auto; /* this will center the page */
	padding-left: 20px;
	padding-right: 20px;
}