{% extends 'base.html.twig' %}

{% block body %}
    <div class="inner-w3">
        <div class="sub-hd">
            <h3 class="tittle">Lista de <span>Empleados</span></h3>
        </div>
    </div>
    <form action="{{ path('persona_find') }}" method="POST">
        <label>Busqueda por cedula: </label>
        <div id="busqueda-persona" class="contact-form">

            <div class="col-sm-6">
                <input type="text" id="cedula_persona" name="cedula_persona" >
            </div>
            <div class="col-sm-6">
                <input type="submit" value="Buscar" >
                <a href="{{ path('persona_index') }}">Ver todos</a>
            </div>
        </div>
    </form>
    <div class="clearfix"></div>
    {% if personas is empty %}
        <label>No hay empleados con esa cedula</label>
    {% else %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombres y apellidos</th>
                    <th>Cédula</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                    {% for persona in personas %}
                        <tr>
                            <td>{{ persona.personaId }}</td>
                            <td><a href="{{ path('persona_show', { 'id': persona.personaId }) }}">{{ persona.personaNombres }} {{ persona.personaApellidos }}</a></td>
                            <td>{{ persona.personaCedula }}</td>
                            <td>{{ persona.personaEstado }}</td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('audiometria_new_form', { 'id': persona.personaId }) }}">Agregar Audiometria</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('persona_show', { 'id': persona.personaId }) }}">Ver Detalle de Empleado</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('historia_new', { 'idPersona': persona.personaId }) }}">Agregar Historia Clinica</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('persona_edit', { 'id': persona.personaId }) }}">Editar</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}  
                
            </tbody>
        </table>
    {% endif %}
    <ul>
        <li>
            <a href="{{ path('persona_new') }}">Nuevo Empleado</a>
        </li>
    </ul>
{% endblock %}
