{% extends 'base.html.twig' %}

{% block body %}
    <div class="inner-w3">
        <div class="sub-hd">
            <h3 class="tittle">Persona <span>Detalle</span></h3>
        </div>
    </div>

    <table  class="table table-striped">
        <tbody>
            <tr>
                <th>Id:</th>
                <td>{{ persona.personaId }}</td>
            </tr>
            <tr>
                <th>Nombres:</th>
                <td>{{ persona.personaNombres }}</td>
            </tr>
            <tr>
                <th>Apellidos:</th>
                <td>{{ persona.personaApellidos }}</td>
            </tr>
            <tr>
                <th>Cédula:</th>
                <td>{{ persona.personaCedula }}</td>
            </tr>
            <tr>
                <th>Sexo:</th>
                <td>{{ persona.personaSexo }}</td>
            </tr>
            <tr>
                <th>Fecha de Nacimiento:</th>
                <td>{% if persona.personaFecnac %}{{ persona.personaFecnac|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Direccion:</th>
                <td>{{ persona.personaDireccion }}</td>
            </tr>
            <tr>
                <th>Barrio:</th>
                <td>{{ persona.personaBarrio }}</td>
            </tr>
            <tr>
                <th>Télefono:</th>
                <td>{{ persona.personaTelefono }}</td>
            </tr>
            <tr>
                <th>Estado:</th>
                <td>{{ persona.personaEstado }}</td>
            </tr>
        </tbody>
    </table>
    {% if audiometrias is empty %}
        <label>No hay audimetrias asociadas</label>
    {% else %}
        <div>
            <table  class="table table-striped">
                <thead>
                    <tr>
                        <td>Audiometrias</td>
                    </tr>   
                </thead>
                <tbody>
                    {% for audiometria in audiometrias %}
                        <tr>
                            <td>
                                <a href="{{ path('audiometria_show', { 'id': audiometria.audiometriaId }) }}">{{ audiometria.audiometriaId }}</a> 
                            </td>
                            <td>{% if audiometria.audiometriaFecha %}{{ audiometria.audiometriaFecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
    <div class="clearfix"></div>

    {% if historias is empty %}
        <label>No hay historias asociadas</label>
    {% else %}
        <div>
            <table  class="table table-striped">
                <thead>
                    <tr>
                        <td>Historias</td>
                    </tr>   
                </thead>
                <tbody>
                    {% for historia in historias %}
                        <tr>
                            <td>
                                <a href="{{ path('historia_show', { 'idHistoria': historia.historiaId }) }}">{{ historia.historiaId }}</a> 
                            </td>
                            <td>{% if historia.historiaFecha %}{{ historia.historiaFecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
    <div class="clearfix"></div>

    <ul>
        <li>
            <a href="{{ path('persona_index') }}">Regresar a la lista</a>
        </li>
        <li>
            <a href="{{ path('persona_edit', { 'id': persona.personaId }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Eliminar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
