{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <div class="inner-w3">
            <div class="sub-hd">
                <h3 class="tittle">Audiometria <span>{{ nombreAudiometria }}</span></h3>
            </div>
        </div>
        <div class="contact-form">
            <form action="{{ path('audiometria_edit') }}" method="POST">
                <input type="hidden" name="persona_id" id="persona_id" value={{ persona }}>
                <input type="hidden" name="nombre_audiometria" id="nombre_audiometria" value={{ nombreAudiometria }}>
                <fieldset id="medidas_oi" >
                        <h3 class="tittle">Oido <span>Izquierdo</span></h3>
                        <fieldset class="left_form" >
                            <h2>Via Aerea</h2>
                            <div>
                                <label for="medidasAerea250_oi" class="required">250</label>
                                <input type="number" id="medidasAerea250_oi" name="medidasAerea250_oi" required="required" />
                            </div>
                            <div>
                                <label for="medidasAerea500_oi" class="required">500</label>
                                <input type="number" id="medidasAerea500_oi" name="medidasAerea500_oi" required="required" />
                            </div>
                            <div>
                                <label for="medidasAerea1000_oi" class="required">1000</label>
                                <input type="number" id="medidasAerea1000_oi" name="medidasAerea1000_oi" required="required" />
                            </div>
                            <div>
                                <label for="medidasAerea2000_oi" class="required">2000</label>
                                <input type="number" id="medidasAerea2000_oi" name="medidasAerea2000_oi" required="required" />
                            </div>
                            <div>
                                <label for="medidasAerea3000_oi" class="required">3000</label>
                                <input type="number" id="medidasAerea3000_oi" name="medidasAerea3000_oi" required="required" />
                            </div>
                            <div>
                                <label for="medidasAerea4000_oi" class="required">4000</label>
                                <input type="number" id="medidasAerea4000_oi" name="medidasAerea4000_oi" required="required" />
                            </div>
                            <div>
                                <label for="medidasAerea6000_oi" class="required">6000</label>
                                <input type="number" id="medidasAerea6000_oi" name="medidasAerea6000_oi" required="required" />
                            </div>
                            <div>
                                <label for="medidasAerea8000_oi" class="required">8000</label>
                                <input type="number" id="medidasAerea8000_oi" name="medidasAerea8000_oi" required="required" />
                            </div>
                        </fieldset>

                        
                        <fieldset class="right_form" >
                            <h2>Via Osea</h2>
                            <div>
                                <label for="medidasOsea250_oi" class="required">250</label>
                                <input type="number" id="medidasOsea250_oi" name="medidasOsea250_oi" required="required" />
                            </div>
                            <div>
                                <label for="medidasOsea500_oi" class="required">500</label>
                                <input type="number" id="medidasOsea500_oi" name="medidasOsea500_oi" required="required" />
                            </div>
                            <div>
                                <label for="medidasOsea1000_oi" class="required">1000</label>
                                <input type="number" id="medidasOsea1000_oi" name="medidasOsea1000_oi" required="required" />
                            </div>
                            <div>
                                <label for="medidasOsea2000_oi" class="required">2000</label>
                                <input type="number" id="medidasOsea2000_oi" name="medidasOsea2000_oi" required="required" />
                            </div>
                            <div>
                                <label for="medidasOsea3000_oi" class="required">3000</label>
                                <input type="number" id="medidasOsea3000_oi" name="medidasOsea3000_oi" required="required" />
                            </div>
                            <div>
                                <label for="medidasOsea4000_oi" class="required">4000</label>
                                <input type="number" id="medidasOsea4000_oi" name="medidasOsea4000_oi" required="required" />
                            </div>
                        </fieldset>
                </fieldset>
                <fieldset id="medidas_od">
                        <h3 class="tittle">Oido <span>Derecho</span></h3>
                        <fieldset class="left_form" >
                            <h2>Via Aerea</h2>
                            <div>
                                <label for="medidasAerea250_od" class="required">250</label>
                                <input type="number" id="medidasAerea250_od" name="medidasAerea250_od" required="required" />
                            </div>
                            <div>
                                <label for="medidasAerea500_od" class="required">500</label>
                                <input type="number" id="medidasAerea500_od" name="medidasAerea500_od" required="required" />
                            </div>
                            <div>
                                <label for="medidasAerea1000_od" class="required">1000</label>
                                <input type="number" id="medidasAerea1000_od" name="medidasAerea1000_od" required="required" />
                            </div>
                            <div>
                                <label for="medidasAerea2000_od" class="required">2000</label>
                                <input type="number" id="medidasAerea2000_od" name="medidasAerea2000_od" required="required" />
                            </div>
                            <div>
                                <label for="medidasAerea3000_od" class="required">3000</label>
                                <input type="number" id="medidasAerea3000_od" name="medidasAerea3000_od" required="required" />
                            </div>
                            <div>
                                <label for="medidasAerea4000_od" class="required">4000</label>
                                <input type="number" id="medidasAerea4000_od" name="medidasAerea4000_od" required="required" />
                            </div>
                            <div>
                                <label for="medidasAerea6000_od" class="required">6000</label>
                                <input type="number" id="medidasAerea6000_od" name="medidasAerea6000_od" required="required" />
                            </div>
                            <div>
                                <label for="medidasAerea8000_od" class="required">8000</label>
                                <input type="number" id="medidasAerea8000_od" name="medidasAerea8000_od" required="required" />
                            </div>
                        </fieldset>
                        <fieldset class="right_form" >
                            <h2>Via Osea</h2>
                            <div>
                                <label for="medidasOsea250_od" class="required">250</label>
                                <input type="number" id="medidasOsea250_od" name="medidasOsea250_od" required="required" />
                            </div>
                            <div>
                                <label for="medidasOsea500_od" class="required">500</label>
                                <input type="number" id="medidasOsea500_od" name="medidasOsea500_od" required="required" />
                            </div>
                            <div>
                                <label for="medidasOsea1000_od" class="required">1000</label>
                                <input type="number" id="medidasOsea1000_od" name="medidasOsea1000_od" required="required" />
                            </div>
                            <div>
                                <label for="medidasOsea2000_od" class="required">2000</label>
                                <input type="number" id="medidasOsea2000_od" name="medidasOsea2000_od" required="required" />
                            </div>
                            <div>
                                <label for="medidasOsea3000_od" class="required">3000</label>
                                <input type="number" id="medidasOsea3000_od" name="medidasOsea3000_od" required="required" />
                            </div>
                            <div>
                                <label for="medidasOsea4000_od" class="required">4000</label>
                                <input type="number" id="medidasOsea4000_od" name="medidasOsea4000_od" required="required" />
                            </div>
                        </fieldset>
                </fieldset>
                <div class="clearfix"></div>
                <fieldset>
                    <fieldset class="left_form" >
                        <label for="audiometriaOtoscopiaOi" class="required">Otoscopia Oido Izquierdo</label>
                        <input type="text" id="audiometriaOtoscopiaOi" name="audiometriaOtoscopiaOi" required="required" />
                    </fieldset>
                    <fieldset class="right_form" >
                        <label for="audiometriaOtoscopiaOd" class="required">Otoscopia Oido Derecho</label>
                        <input type="text" id="audiometriaOtoscopiaOd" name="audiometriaOtoscopiaOd" required="required" />
                    </fieldset>
                </fieldset>
                <label for="audiometriaObservaciones" class="required">Observaciones</label>
                <input type="text" id="audiometriaObservaciones" name="audiometriaObservaciones" required="required" />
                <input type="submit" value="Guardar" class="myButton" />
            </form>
        </div>
        <ul>
            <li>
                <a href="{{ path('audiometria_index') }}">Regresar  la lista</a>
            </li>
        </ul>
        <div class="clearfix"> </div>
    </div>
{% endblock %}
