{% extends 'base.html.twig' %}

{% block body %}
    <h1>Audiometria list</h1>

    <table>
        <thead>
            <tr>
                <th>Audiometriafecha</th>
                <th>Audiometriaestado</th>
                <th>Audiometriaid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for audiometrium in audiometrias %}
            <tr>
                <td><a href="{{ path('audiometria_show', { 'id': audiometrium.audiometriaId }) }}">{{ audiometrium.audiometriaFecha }}</a></td>
                <td>{{ audiometrium.audiometriaEstado }}</td>
                <td>{{ audiometrium.audiometriaId }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('audiometria_show', { 'id': audiometrium.audiometriaId }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('audiometria_edit', { 'idAudiometria': audiometrium.audiometriaId}) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('audiometria_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
