{% extends 'base.html.twig' %}

{% block body %}
     <table>
        <thead>
            <tr>
                <th colspan="2">Datos del empleado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Nombres y apellidos:</td>
                <td>{{ persona.personaNombres }} {{ persona.personaApellidos }}</td>
            </tr>
            <tr>
                <td>Cédula:</td>
                <td>{{ persona.personaCedula }}</td>
            </tr>
            <tr>
                <td>Area:</td>
                <td>{{ persona.getArea() }}</td>
            </tr>
        </tbody>
    </table>
    <table>
        <thead>
            <tr>
                <th>Datos de la audiometria</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Id:</td>
                <td>{{ audiometrium.audiometriaId }}</td>
            </tr>
            <tr>
                <td>Tipo:</td>
                <td>{{ audiometrium.audiometriaNombre }}</td>
            </tr>
            <tr>
                <td>Fecha de la Audiometria:</td>
                <td>{% if audiometrium.audiometriaFecha %}{{ audiometrium.audiometriaFecha|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <td>Estado:</td>
                <td>{{ audiometrium.audiometriaEstado }}</td>
            </tr>
        </tbody>
    </table>
    <div class="graficas">
        <div class="left_form">
            <canvas id="myChart2" width="400" height="400"></canvas><br>
            <label>Promedio de Perdida</label><input type="text" value="{{ medidasAereaOd.promedioPerdida }}"><br>
            <div class="{{ medidasAereaOd.diagnostico|replace(' ', '-')|lower }}"><label>{{ medidasAereaOd.diagnostico }}</label></div><br>
            <div><label>Otoscopia Oido Derecho:</label>{{ audiometrium.audiometriaOtoscopiaOd }}</div><br>
            <div><label>Tipo perdida:</label>{{ tipoPerdidaOd }}</div>
        </div>
        <div class="right_form">
            <canvas id="myChart" width="400" height="400"></canvas><br>
            <label>Promedio de Perdida</label><input type="text" value="{{ medidasAereaOi.promedioPerdida }}"><br>
            <div class="{{ medidasAereaOi.diagnostico|replace(' ', '-')|lower }}"><label>{{ medidasAereaOi.diagnostico }}</label></div><br>
            <div><label>Otoscopia Oido Izquierdo:</label>{{ audiometrium.audiometriaOtoscopiaOi }}</div><br>
            <div><label>Tipo perdida:</label>{{ tipoPerdidaOi }}</div>
        </div>
    </div>
        
    <div class="clearfix"></div><br>
        <div><label>Observaciones:</label>{{ observaciones}}</div>
    <div class="clearfix"></div><br>
    <ul>
        <li>
            <a href="{{ path('audiometria_index') }}">Regresar a la lista</a>
        </li>
        <li>
            <a href="{{ path('audiometria_edit', { 'id': audiometrium.audiometriaId }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Eliminar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">

        var row_right = new Image();
        row_right.src = "{{ asset('images/next.png') }}";

        var row_left = new Image();
        row_left.src = "{{ asset('images/prevred.png') }}";

        var ctx = document.getElementById("myChart");
        var ctx2 = document.getElementById("myChart2");

        //dibujo la linea horizontal
        var originalLineDraw = Chart.controllers.line.prototype.draw;
        Chart.helpers.extend(Chart.controllers.line.prototype, {
          draw: function() {
            originalLineDraw.apply(this, arguments);

            var chart = this.chart;
            var ctx = chart.chart.ctx;

            var index = chart.config.data.lineAtIndex;
            if (index) {
                var xaxis = chart.scales['x-axis-0'];
                var yaxis = chart.scales['y-axis-0'];

                var limits = new Array();

                var max = new Array();
                max["value"] = 20;
                max["label"] = "";
                max["color"] = "#000000";
                limits.push(max);

                for (var i = 0; i < limits.length; i++) {

                  //Refactor the value
                  limits[i].value = yaxis.getPixelForValue(limits[i].value, undefined);
                  ctx.fillStyle = 'black';
                  ctx.fillText(limits[i].label, 40, limits[i].value + 5);

                  ctx.save();
                  ctx.beginPath();
                  ctx.moveTo(xaxis.left, limits[i].value);
                  ctx.strokeStyle = limits[i].color;
                  ctx.lineTo(xaxis.right, limits[i].value);
                  ctx.stroke();
                  ctx.restore();
                }
            }
          }
        });

        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                xLabels: ['0', '250', '500', '1000', '2000', '3000', '4000', '6000', '8000'],
                datasets: [
                    {
                        label: 'Aereo',
                        data: [, {{ medidasAereaOi.medidasAerea250|json_encode() }}, {{ medidasAereaOi.medidasAerea500|json_encode() }}, {{ medidasAereaOi.medidasAerea1000|json_encode() }}, {{ medidasAereaOi.medidasAerea2000|json_encode() }}, {{ medidasAereaOi.medidasAerea3000|json_encode() }}, {{ medidasAereaOi.medidasAerea4000|json_encode() }}, {{ medidasAereaOi.medidasAerea6000|json_encode() }}, {{ medidasAereaOi.medidasAerea8000|json_encode() }}],
                        borderColor: 'rgba(63, 127, 191,1)',
                        backgroundColor: 'rgba(0,0,0,0)',
                        borderWidth: 1,
                        lineTension: 0,
                        pointStyle: 'crossRot',
                        pointRadius: 10,
                    },
                    {
                        label: 'Oseo',
                        data: [, {{ medidasOseaOi.medidasOsea250|json_encode() }}, {{ medidasOseaOi.medidasOsea500|json_encode() }}, {{ medidasOseaOi.medidasOsea1000|json_encode() }}, {{ medidasOseaOi.medidasOsea2000|json_encode() }}, {{ medidasOseaOi.medidasOsea3000|json_encode() }}, {{ medidasOseaOi.medidasOsea4000|json_encode() }}],
                        borderColor: 'rgba(63, 127, 191,1)',
                        borderDash: [3,3],
                        borderDashOffset: 0.0,
                        backgroundColor: 'rgba(0,0,0,0)',
                        borderWidth: 1,
                        lineTension: 0,
                        pointStyle: row_right,
                    }
                ],
                lineAtIndex: 2
            },
            options: {
                title: {
                    display: true,
                    text: 'Oido Izquierdo'
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            min: -10,
                            max: 110,
                            fixedStepSize: 5,
                            reverse: true,
                        },
                        gridLines: {
                            zeroLineWidth: 0.5,
                            //zeroLineColor: 'rgba(255, 0, 0, 1)',
                        },
                    }]
                }
            }
        });
        
        var myChart = new Chart(ctx2, {
            type: 'line',
            data: {
                xLabels: ['0', '250', '500', '1000', '2000', '3000', '4000', '6000', '8000'],
                datasets: [
                    {
                        label: 'Aereo',
                        data: [, {{ medidasAereaOd.medidasAerea250|json_encode() }}, {{ medidasAereaOd.medidasAerea500|json_encode() }}, {{ medidasAereaOd.medidasAerea1000|json_encode() }}, {{ medidasAereaOd.medidasAerea2000|json_encode() }}, {{ medidasAereaOd.medidasAerea3000|json_encode() }}, {{ medidasAereaOd.medidasAerea4000|json_encode() }}, {{ medidasAereaOd.medidasAerea6000|json_encode() }}, {{ medidasAereaOd.medidasAerea8000|json_encode() }}],
                        borderColor: 'rgba(255,99,132,1)',
                        backgroundColor: 'rgba(0,0,0,0)',
                        borderWidth: 1,
                        lineTension: 0,
                        pointRadius: 10,
                        
                    },
                    {
                        label: 'Oseo',
                        data: [, {{ medidasOseaOd.medidasOsea250|json_encode() }}, {{ medidasOseaOd.medidasOsea500|json_encode() }}, {{ medidasOseaOd.medidasOsea1000|json_encode() }}, {{ medidasOseaOd.medidasOsea2000|json_encode() }}, {{ medidasOseaOd.medidasOsea3000|json_encode() }}, {{ medidasOseaOd.medidasOsea4000|json_encode() }}],
                        borderColor: 'rgba(255,99,132,1)',
                        borderDash: [3,3],
                        borderDashOffset: 0.0,
                        backgroundColor: 'rgba(0,0,0,0)',
                        borderWidth: 1,
                        lineTension: 0,
                        pointStyle: row_left
                    }
                ],
                lineAtIndex: 2
            },
            options: {
                title: {
                    display: true,
                    text: 'Oido Derecho'
                },
                scales: {
                    
                    yAxes: [{
                        ticks: {
                            min: -10,
                            max: 110,
                            fixedStepSize: 5,
                            reverse: true,
                        },
                        gridLines: {
                            zeroLineWidth: 0.5,
                            //zeroLineColor: 'rgba(255, 0, 0, 1)',
                        },
                    }]
                }
            }
        });
    </script>
{% endblock %}