{% extends 'base.html.twig' %}

{% block body %}
    <div class="inner-w3">
        <div class="sub-hd">
            <h3 class="tittle">Historia <span>Clinica</span></h3>
        </div>
    </div>
    {% if historias is empty %}
        <label>No hay historias asociadas</label>
    {% else %}
        <div>
            <table  class="table table-striped">
                <thead>
                    <tr>
                        <td>Preguntas</td>
                        <td>Respuestas</td>
                    </tr>   
                </thead>
                <tbody>
                    {% for historia in historias %}
                        <tr>
                            <td>
                                <label>{{historia.respuesta.PreguntaId.preguntaDescripcion}}</label>
                            </td>
                            <td>
                                {% if historia.respuesta.posibleRespuesta.posibleRespuestaDescripcion is defined %}
                                    <label>{{historia.respuesta.posibleRespuesta.posibleRespuestaDescripcion}}</label>
                                {% else %}
                                    <label>{{historia.respuesta.respuestaDescripcion}}</label>
                                    
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
    <div class="clearfix"></div>

    <ul>
        <li>
            <a href="{{ path('persona_index') }}">Regresar a la lista</a>
        </li>
    </ul>
{% endblock %}
