{% extends 'base.html.twig' %}

{% block body %}
    <div class="center_form">
        <fieldset>
            <legend><div class="inner-w3">
            <div class="sub-hd">
                <h3 class="tittle">Datos<span>Personales</span></h3>
            </div>
        </div></legend>
            <table>
                <tbody>
                    <tr>
                        <th>Nombres:</th>
                        <td>{{ persona.personaNombres }}</td>
                    </tr>
                    <tr>
                        <th>Apellidos:</th>
                        <td>{{ persona.personaApellidos }}</td>
                    </tr>
                    <tr>
                        <th>Cédula:</th>
                        <td>{{ persona.personaCedula }}</td>
                    </tr>
                    <tr>
                        <th>Sexo:</th>
                        <td>{{ persona.personaSexo }}</td>
                    </tr>
                    <tr>
                        <th>Fecha de Nacimiento:</th>
                        <td>{% if persona.personaFecnac %}{{ persona.personaFecnac|date('Y-m-d') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Direccion:</th>
                        <td>{{ persona.personaDireccion }}</td>
                    </tr>
                    <tr>
                        <th>Barrio:</th>
                        <td>{{ persona.personaBarrio }}</td>
                    </tr>
                    <tr>
                        <th>Télefono:</th>
                        <td>{{ persona.personaTelefono }}</td>
                    </tr>
                    <tr>
                        <th>Estado:</th>
                        <td>{{ persona.personaEstado }}</td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
    </div>
    <div>
        <div class="inner-w3">
            <div class="sub-hd">
                <h3 class="tittle">Historia<span>Clinica</span></h3>
            </div>
        </div>

        <div class="contact-form">
            <form class="center_form" action="{{ path('historia_save') }}" method="POST">
                <input type="hidden" id="personaId" name="personaId" value="{{ persona.personaId }}">
                {% for encuesta in encuestas %}
                    <fieldset>
                        <legend><h4><span>{{ encuesta.encuestaNombre }}</span></h4></legend>
                        {% for pregunta in preguntas %}
                            {% if encuesta.encuestaId == pregunta.encuesta.encuestaId %}
                                <li>{{ pregunta.preguntaDescripcion }}</li>
                                    {% if pregunta.TipoPregunta.tipoPreguntaId == 3 %}
                                        <input type="text" name="pregunta_{{ pregunta.preguntaId }}" id="pregunta_{{ pregunta.preguntaId }}" >
                                    {% endif %}

                                {% for posibleRespuesta in posiblesRespuestas %}                               
                                    {% if pregunta.TipoPregunta.tipoPreguntaId == posibleRespuesta.TipoPregunta.tipoPreguntaId  %}
                                        {% if pregunta.TipoPregunta.tipoPreguntaId == 1 %}
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="pregunta_{{ pregunta.preguntaId }}" id="pregunta_{{ pregunta.preguntaId }}" value="{{ posibleRespuesta.posibleRespuestaId }}" required >{{ posibleRespuesta.posibleRespuestaDescripcion }}
                                                </label>
                                            </div>
                                        {% endif %}
                                        {% if pregunta.TipoPregunta.tipoPreguntaId == 2 %}
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="pregunta_{{ pregunta.preguntaId }}" id="pregunta_{{ pregunta.preguntaId }}" value="{{ posibleRespuesta.posibleRespuestaId }}" required >{{ posibleRespuesta.posibleRespuestaDescripcion }}
                                                </label>
                                            </div>
                                        {% endif %}
                                        {% if pregunta.TipoPregunta.tipoPreguntaId == 4 %}
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="pregunta_{{ pregunta.preguntaId }}" id="pregunta_{{ pregunta.preguntaId }}" value="{{ posibleRespuesta.posibleRespuestaId }}" required >{{ posibleRespuesta.posibleRespuestaDescripcion }}
                                                </label>
                                            </div>
                                        {% endif %}
                                        {% if pregunta.TipoPregunta.tipoPreguntaId == 5 %}
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="pregunta_{{ pregunta.preguntaId }}" id="pregunta_{{ pregunta.preguntaId }}" value="{{ posibleRespuesta.posibleRespuestaId }}" required >{{ posibleRespuesta.posibleRespuestaDescripcion }}
                                                </label>
                                            </div>
                                        {% endif %}
                                    {% endif %}

                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </fieldset>
                    <div class="border-complete"></div>
                {% endfor %}

                <input type="submit" value="Guardar" class="myButton"/>
            </form>                
        </div>
        <ul>
            <li>
                <a href="{{ path('persona_index') }}">Regresar a la lista</a>
            </li>
        </ul>
        <div class="clearfix" ></div>
    </div>
{% endblock %}
