{% extends 'base.html.twig' %}

{% block body %}
    <div class="inner-w3">
        <div class="sub-hd">
            <h3 class="tittle">Historia <span>Clinica</span></h3>
        </div>
    </div>
    {% if historias is empty %}
        <label>No hay historias asociadas</label>
    {% else %}
        <div>
            <table>
                <tr>
                    <td><label>Nombre:</label></td>
                    <td><label>{{persona.personaNombres}}</label></td>
                </tr>
                <tr>
                    <td><label>Cédula:</label></td>
                    <td><label>{{persona.personaCedula}}</label></td>
                </tr>
                <tr>
                    <td><label>Telefono:</label></td>
                    <td><label>{{persona.personaTelefono}}</label></td>
                </tr>

            </table>
            <p>Paciente de sexo {{persona.personaSexo}} de {{edad}} años de edad, con antecedentes de: </p>
            <p>
                {% for historia in historias %}
                    {% if historia.respuesta.posibleRespuesta.posibleRespuestaDescripcion is defined %}
                        {% if historia.respuesta.posibleRespuesta.posibleRespuestaDescripcion == 'Si' %}
                            <label>{{historia.respuesta.PreguntaId.preguntaDescripcion}},</label>
                        {% endif %}
                    {% else %}
                        <label>{{historia.respuesta.PreguntaId.preguntaDescripcion}}:</label>
                        <label>{{historia.respuesta.respuestaDescripcion}},</label>                                
                    {% endif %}
                {% endfor %}
            </p>
           
        </div>
    {% endif %}
    <div class="clearfix"></div>

    <ul>
        <li>
            <a href="{{ path('persona_index') }}">Regresar a la lista</a>
        </li>
    </ul>
{% endblock %}
