{% extends 'base.html.twig' %}

{% block body %}
    <div class="inner-w3">
        <div class="sub-hd">
            <h3 class="tittle">Historias <span>Clinicas</span></h3>
        </div>
    </div>
    {% if historias is empty %}
        <label>No hay historias asociadas</label>
    {% else %}
        <div>
            <table  class="table table-striped">
                <thead>
                    <tr>
                        <td>Historias</td>
                    </tr>   
                </thead>
                <tbody>
                    {% for historia in historias %}
                        <tr>
                            <td>
                                <a href="{{ path('historia_show', { 'idHistoria': historia.personaRespuestaId }) }}">{{ historia.personaRespuestaId }}</a> 
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
    <div class="clearfix"></div>

    <ul>
        <li>
            <a href="{{ path('persona_index') }}">Regresar a la lista</a>
        </li>
    </ul>
{% endblock %}
