{% extends 'base.html.twig' %}

{% block body %}
    <h1>MedidasOsea list</h1>

    <table>
        <thead>
            <tr>
                <th>Medidasoseaoido</th>
                <th>Medidasoseaid</th>
                <th>Medidasosea250</th>
                <th>Medidasosea500</th>
                <th>Medidasosea1000</th>
                <th>Medidasosea2000</th>
                <th>Medidasosea3000</th>
                <th>Medidasosea4000</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for medidasOsea in medidasOseas %}
            <tr>
                <td><a href="{{ path('medidasosea_show', { 'id': medidasOsea.medidasOseaId }) }}">{{ medidasOsea.medidasOseaOido }}</a></td>
                <td>{{ medidasOsea.medidasOseaId }}</td>
                <td>{{ medidasOsea.medidasOsea250 }}</td>
                <td>{{ medidasOsea.medidasOsea500 }}</td>
                <td>{{ medidasOsea.medidasOsea1000 }}</td>
                <td>{{ medidasOsea.medidasOsea2000 }}</td>
                <td>{{ medidasOsea.medidasOsea3000 }}</td>
                <td>{{ medidasOsea.medidasOsea4000 }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('medidasosea_show', { 'id': medidasOsea.medidasOseaId }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('medidasosea_edit', { 'id': medidasOsea.medidasOseaId }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('medidasosea_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
