{% extends 'base.html.twig' %}

{% block body %}
    <h1>MedidasOsea</h1>

    <table>
        <tbody>
            <tr>
                <th>Medidasoseaoido</th>
                <td>{{ medidasOsea.medidasOseaOido }}</td>
            </tr>
            <tr>
                <th>Medidasoseaid</th>
                <td>{{ medidasOsea.medidasOseaId }}</td>
            </tr>
            <tr>
                <th>Medidasosea250</th>
                <td>{{ medidasOsea.medidasOsea250 }}</td>
            </tr>
            <tr>
                <th>Medidasosea500</th>
                <td>{{ medidasOsea.medidasOsea500 }}</td>
            </tr>
            <tr>
                <th>Medidasosea1000</th>
                <td>{{ medidasOsea.medidasOsea1000 }}</td>
            </tr>
            <tr>
                <th>Medidasosea2000</th>
                <td>{{ medidasOsea.medidasOsea2000 }}</td>
            </tr>
            <tr>
                <th>Medidasosea3000</th>
                <td>{{ medidasOsea.medidasOsea3000 }}</td>
            </tr>
            <tr>
                <th>Medidasosea4000</th>
                <td>{{ medidasOsea.medidasOsea4000 }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('medidasosea_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('medidasosea_edit', { 'id': medidasOsea.medidasOseaId }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
