{% extends 'base.html.twig' %}

{% block body %}
    <div class="inner-w3">
        <div class="sub-hd">
            <h3 class="tittle">Lista de <span>Encuestas</span></h3>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for encuestum in encuestas %}
            <tr>
                <td>{{ encuestum.encuestaId }}</td>
                <td><a href="{{ path('encuesta_show', { 'id': encuestum.encuestaId }) }}">{{ encuestum.encuestaNombre }}</a></td>
                <td>{{ encuestum.encuestaEstado }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('encuesta_show', { 'id': encuestum.encuestaId }) }}">Ver</a>
                        </li>
                        <li>
                            <a href="{{ path('encuesta_edit', { 'id': encuestum.encuestaId }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('encuesta_new') }}">Nueva Encuesta</a>
        </li>
    </ul>
{% endblock %}
