{% extends 'base.html.twig' %}

{% block body %}
    <div class="inner-w3">
        <div class="sub-hd">
            <h3 class="tittle">Encuesta <span>Detalle</span></h3>
        </div>
    </div>

    <table>
        <tbody>
            <tr>
                <th>Id:</th>
                <td>{{ encuestum.encuestaId }}</td>
            </tr>
            <tr>
                <th>Titulo:</th>
                <td>{{ encuestum.encuestaNombre }}</td>
            </tr>
            <tr>
                <th>Estado:</th>
                <td>{{ encuestum.encuestaEstado }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('encuesta_index') }}">Regresar a la lista</a>
        </li>
        <li>
            <a href="{{ path('encuesta_edit', { 'id': encuestum.encuestaId }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Eliminar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
