{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="inner-w3">
            <div class="sub-hd">
                <h3 class="tittle">Iniciar <span>Sesion</span></h3>
            </div>
        </div>
    <!--/login-->     
    <div class="contact-top">
        <div class="contact-form">
            <form action="{{ path('login') }}" method="post" class="center_form">
                <div>
                    <span><label for="username">Nombre de Usuario:</label></span>
                    <span><input type="text" id="username" name="_username" value="{{ last_username }}" class="textbox" required /></span>
                </div>
                <div>
                    <span><label for="password">Password:</label></span>
                    <span><input type="password" id="password" name="_password" class="textbox" required /></span>
                </div>
                
                {#
                    If you want to control the URL the user
                    is redirected to on success (more details below)
                    <input type="hidden" name="_target_path" value="/account" />
                #}

                <div>
                    <span><input type="submit" value="Iniciar Sesion" class="myButton"></span>
                </div>
            </form>
            <div class="clearfix"></div>
        </div>
    </div>
    <!--//login-->     
{% endblock %}
